.home_container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 1.2rem;

  @media screen and (max-width:991px) {
    padding: 0;
  }
}

.banner_slider {
  position: relative;
  background-color: #ccd6db;

  .banner_card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // flex-flow: row-reverse;
    padding: 1.5rem 0;
    // max-height: 35rem;
    // min-height: 35rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #ccd6db;
      z-index: 0;
    }

    .card_img {
      max-width: 30%;
      width: 30%;
      z-index: 5;
      padding: 0 2rem;
      border-radius: 1rem;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
      }

      @media screen and (max-width:991px) {
        max-width: 100%;
        width: 100%;
        // display: none;
      }
    }

    .card_details {
      z-index: 5;
      max-width: 30%;
      padding-left: 6rem;

      p {
        font-size: 1.6rem;
        color: var(--theme_dark);
        margin-bottom: 1rem;
        font-weight: 500;

        @media screen and (max-width:991px) {
          font-size: 1.6rem;
        }
      }

      h3 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--theme_dark);
        margin-bottom: 1.5rem;

        @media screen and (max-width:991px) {
          font-size: 4rem;
        }

        @media screen and (max-width:575px) {
          font-size: 2.2rem;
        }
      }

      a.btn_banner {
        font-size: 1.6rem;
        color: var(--theme_white);
        background-color: #4C7E82;
        padding: 1.4rem 2.8rem;
        display: inline-block;
        font-weight: 500;
        margin-top: 1rem;
        border-radius: 0.2rem;

        @media screen and (max-width:991px) {
          padding: 1rem 2rem;
        }
      }

      @media screen and (max-width:1199px) {
        max-width: 70%;
      }

      @media screen and (max-width:991px) {
        max-width: 100%;
        width: 100%;
        text-align: center;
        left: 0;
        padding: 0 1rem;
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      height: 1.4rem;
      width: 1.4rem;
      background-color: var(--theme_white);
      opacity: 40%;

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }

      @media screen and (max-width:991px) {
        height: 1.6rem;
        width: 1.6rem;
      }

      @media screen and (max-width:767px) {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}

.swiper-button-prev {
  height: 100% !important;
  top: 0;
  left: 0 !important;
  padding: 2rem 3rem;

  &::after {
    color: var(--theme_primary);
    font-size: 3rem;

    @media screen and (max-width:991px) {
      font-size: 2rem;
    }
  }

  &:hover {
    background-color: rgba($color: #FFFFFF, $alpha: 0.3);
  }

}

.swiper-button-next {
  height: 100% !important;
  top: 0;
  right: 0 !important;
  padding: 2rem 3rem;

  &::after {
    color: var(--theme_primary);
    font-size: 3rem;

    @media screen and (max-width:991px) {
      font-size: 2rem;
    }
  }

  &:hover {
    background-color: rgba($color: #FFFFFF, $alpha: 0.3);
  }

}