.deals_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.6rem;

  @media screen and (max-width:1199px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width:991px) {
    display: flex;
    overflow-x: auto;
  }
}

.deals_card {
  border: 1px solid var(--theme_light);

  .card_img {
    max-height: 30rem;
    min-height: 30rem;
    width: 100%;
    min-width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;

    span.badge_discount {
      font-size: 1.2rem;
      color: var(--theme_dark);
      background-color: var(--theme_warning);
      padding: 0.6rem 1.6rem;
      border-radius: 0.4rem;
      text-transform: uppercase;
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }

    @media screen and (max-width:991px) {
      max-height: 25rem;
      min-height: 25rem;
    }

    @media screen and (max-width:767px) {
      max-height: 24rem;
    }
  }

  .card_details {
    padding: 2rem;

    .rate_box {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;

      svg {
        margin-right: 0.4rem;
      }

      span.rating_count {
        font-size: 1.4rem;
        color: var(--theme_darkgrey);
        margin-left: 0.5rem;
      }
    }

    p.product_title {
      font-size: 1.6rem;
      color: var(--theme_dark);
      margin-bottom: 1.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .product_price {
      display: flex;
      align-items: center;

      del {
        color: var(--theme_darkgrey);
        font-size: 1.8rem;
        font-weight: 500;
      }

      span {
        font-size: 1.8rem;
        color: var(--theme_primary);
        margin-left: 0.5rem;
        font-weight: 500;
      }
    }

    a.add_cart {
      background-color: var(--theme_primary);
      color: var(--theme_white);
      font-size: 1.4rem;
      border-radius: 0.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.4rem 2rem;
      text-transform: uppercase;
      margin-top: 3rem;

      svg {
        margin-right: 0.5rem;
      }

      @media screen and (max-width:991px) {
        padding: 1rem 1.6rem;

        svg {
          height: 2.2rem;
        }
      }
    }
  }
}