.brand_card {
  border: 1px solid var(--theme_light);
  padding: 1.2rem;
  display: flex;
  align-items: center;

  .brand_img {
    height: 10rem;
    width: 10rem;

    img {
      height: 100%;
      width: 100%;
    }

    @media screen and (max-width:991px) {
      height: 8rem;
      width: 8rem;
    }

    @media screen and (max-width:575px) {
      height: 5rem;
      width: 5rem;
    }
  }

  .brand_name {
    width: calc(100% - 12rem);
    padding-left: 2rem;

    p {
      font-size: 1.8rem;
      color: var(--theme_dark);
      text-transform: capitalize;

      @media screen and (max-width:575px) {
        font-size: 1.4rem;
      }
    }

    @media screen and (max-width:991px) {
      width: calc(100% - 8rem);
    }

    @media screen and (max-width:575px) {
      width: calc(100% - 5rem);
    }
  }
}