.profile_row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 4rem 0;

  .profile_left {
    min-width: calc(30% - 3rem);
    max-width: calc(30% - 3rem);
    margin-right: 3rem;


    .profile_name {
      background-color: var(--theme_white);
      padding: 1.6rem 2.6rem;
      margin-bottom: 3rem;
      display: flex;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

      .profie_img {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;

        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }

      .profie_details {
        padding-left: 1rem;
        width: calc(100% - 6rem);

        p {
          font-size: 1.4rem;
          color: var(--theme_darkgrey);
        }

        h4 {
          font-size: 2rem;
          color: var(--theme_dark);
          font-weight: 600;
        }
      }
    }

    .setting_box {
      background-color: var(--theme_white);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

      ul {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid var(--border);

        &:last-child {
          border-bottom: none;
        }

        li {
          padding: 0;

          a,
          p {
            font-size: 1.8rem;
            padding: 1.5rem;
            color: var(--theme_dark);
            font-weight: 500;
            display: flex;
            align-items: center;
            width: 100%;

            svg {
              color: var(--theme_primary);
              margin-right: 1.5rem;
              height: 2.2rem;
            }
          }

          &.settings {
            padding-bottom: 1.5rem;

            .MuiTabs-indicator {
              display: none;
            }

            .MuiTabs-root {
              width: 100%;

              .MuiTabs-flexContainer {
                text-align: left;

                button.MuiTab-root {
                  text-align: left;
                  width: 100%;
                  min-width: 100%;
                  align-items: start;
                  padding-left: 6rem;
                  font-size: 1.4rem;
                  text-transform: capitalize;

                  &.Mui-selected {
                    background-color: #F2F4F5;
                    color: var(--theme_primary);
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }


    @media screen and (max-width:991px) {
      max-width: 30rem;
      min-width: 30rem;
      margin-right: 0;
      position: fixed;
      top: 0;
      left: -100%;
      background-color: var(--theme_white);
      z-index: 2;
      height: 100vh;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      &.open {
        left: 0;
      }
    }
  }

  .profile_right {
    min-width: 70%;
    max-width: 70%;
    background-color: var(--theme_white);
    padding: 2rem;

    .tab_box {

      h4 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--theme_dark);
        margin-bottom: 1rem;

        button.edit_info {
          padding: 0.6rem;
          font-size: 1.3rem;
          color: var(--theme_darkprimary);
          background-color: transparent;
          text-transform: capitalize;
        }

        @media screen and (max-width:991px) {
          font-size: 1.8rem;
          margin-bottom: 0rem;
        }
      }

      .form_box {
        display: flex;
        align-items: center;
        margin-bottom: 2.6rem;
        flex-wrap: wrap;

        .form_box_item {
          max-width: 30rem;
          margin-right: 2rem;

          &:last-child {
            margin-right: 0;
          }

          &.small {
            max-width: 12rem;
            min-width: 12rem;

            &.mobile {
              margin-top: 0;

              @media screen and (max-width:767px) {
                margin-top: 1rem;
              }
            }

            button.save_info {
              padding: 1rem 3rem;
              text-transform: uppercase;
              background-color: var(--theme_primary);
              color: var(--theme_white);
              font-size: 1.4rem;
              width: 100%;
              height: auto;

              &.Mui-disabled {
                opacity: 0.7;
              }
            }

            @media screen and (max-width:767px) {
              max-width: calc(50% - 2rem);
              min-width: calc(50% - 2rem);
              margin-right: 0;
            }

            @media screen and (max-width:575px) {
              max-width: 100%;
              min-width: 100%;
              margin-right: 0;
            }
          }

          input.MuiInputBase-input {
            background-color: #FAF9F7;
            border: 1px solid var(--border);
            border-radius: 0.5rem;
            font-size: 1.6rem;
            padding: 1.2rem;
            min-height: auto;
            color: var(--theme_dark);
            height: auto;
          }

          .MuiFormGroup-row {
            .MuiFormControlLabel-root {

              span.MuiRadio-root {
                padding: 0.6rem;
                color: var(--theme_primary);

                svg.MuiSvgIcon-root {
                  height: 2.2rem;
                  width: 2.2rem;
                }
              }

              span.MuiTypography-root {
                font-size: 1.6rem;
                color: var(--theme_dark);
              }
            }
          }

          @media screen and (max-width:767px) {
            max-width: calc(50% - 2rem);
            min-width: calc(50% - 2rem);
          }

          @media screen and (max-width:575px) {
            max-width: 100%;
            min-width: 100%;
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }
      }
    }

    @media screen and (max-width:991px) {
      max-width: 100%;
      min-width: 100%;
      margin-right: 0;
    }
  }
}