.product_box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;

  @media screen and (max-width:1350px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (max-width:1199px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width:991px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width:767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}