.header {
  // background-color: var(--theme_footer);
  background-color: #4C7E82;
  position: sticky;
  top: 0;
  z-index: 996;
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.08);

  .header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;

    .header_left {
      display: flex;
      align-items: center;

      .logo {
        height: 3.2rem;
        max-width: 100%;
        width: auto;

        svg {
          height: 100%;
          width: 100%;
        }

        @media screen and (max-width:1399px) {
          height: 3rem;
        }

        @media screen and (max-width:991px) {
          height: 2rem;
        }
      }

      .user_location {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        cursor: pointer;
        padding: 0.6rem 1rem;
        border-radius: 0.3rem;

        svg {
          height: 4.8rem;
          width: 3rem;
        }

        .location {
          margin-left: 0.8rem;

          .title {
            font-size: 1.6rem;
            color: var(--theme_white);
          }

          .locate {
            font-size: 1.2rem;
            color: var(--theme_white);
            opacity: 80%;
          }

        }

        &:hover {
          background-color: rgba($color: #FFFFFF, $alpha: 10%);
        }

        @media screen and (max-width:991px) {
          display: none;
        }
      }

      @media screen and (max-width:991px) {
        max-width: 30%;
        width: 30%;
      }
    }

    .header_center {
      max-width: calc(48% - 4rem);
      width: 100%;
      margin: 0 2rem;
      display: flex;
      align-items: center;

      .search_product {
        position: relative;
        width: 100%;

        svg {
          position: absolute;
          top: 50%;
          left: 2rem;
          transform: translateY(-50%);
          z-index: 2;

          @media screen and (max-width:991px) {
            left: 1rem;
          }
        }

        input.MuiInputBase-input {
          background-color: var(--theme_white);
          border-radius: 0.5rem;
          border: none;
          outline: none;
          box-shadow: none;
          font-size: 1.6rem;
          padding: 1.2rem;
          padding-left: 5.5rem;
          height: auto;

          @media screen and (max-width:991px) {
            font-size: 1.3rem;
            padding: 1rem;
            padding-left: 4rem;
          }
        }

        .searchProduct_suggest {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: var(--theme_white);
          border-radius: 0.5rem;
          max-height: 40rem;
          overflow-y: auto;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          padding: 1.5rem;
          margin-top: 0.5rem;

          .suggested_product {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 1rem;
            cursor: pointer;

            img {
              height: 4rem;
              width: 4rem;
              background-color: var(--theme_white);
              padding: 0.2rem;
            }

            .suggested_productName {
              padding-left: 1rem;


              h6 {
                font-size: 1.4rem;
                color: var(--theme_dark);
                font-weight: 600;
                margin-bottom: 0;
              }

              p {
                font-size: 1.2rem;
                color: var(--theme_primary);
                font-weight: 500;
              }
            }
          }
        }
      }

      @media screen and (max-width:991px) {
        order: 3;
        max-width: 100%;
        width: 100%;
        margin: 1.2rem 0 0 0;
      }
    }

    .header_right {
      display: flex;
      align-items: center;

      .language_select {
        max-width: 8rem;
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--theme_white);

        .MuiSelect-select {
          padding: 1rem;
          padding-right: 2.5rem;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: left;
        }

        svg.MuiSvgIcon-root {
          color: var(--theme_white);
          font-size: 1.8rem;
        }
      }

      .status_bar {
        display: flex;
        align-items: center;
        margin-left: 3rem;

        &:last-child {
          display: none;

          @media screen and (max-width:991px) {
            display: block;
          }
        }

        svg {
          height: 3rem;
          width: 3rem;
          color: var(--theme_white);

          @media screen and (max-width:991px) {
            height: 2rem;
            width: 2rem;
          }
        }

        .count {
          position: relative;

          span {
            height: 1.8rem;
            width: 1.8rem;
            background-color: var(--theme_white);
            border-radius: 50%;
            position: absolute;
            top: -0.5rem;
            right: -0.5rem;
            font-size: 1.2rem;
            color: var(--theme_primary);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;

            @media screen and (max-width:991px) {
              height: 1.8rem;
              width: 1.8rem;
            }
          }
        }

        .status_bar_name {
          margin-left: 1.2rem;

          .title {
            font-size: 1.2rem;
            color: var(--theme_white);
            opacity: 72%;
            white-space: nowrap;
          }

          .name {
            font-size: 1.2rem;
            color: var(--theme_white);
            white-space: nowrap;
          }

          @media screen and (max-width:1250px) {
            display: none;
          }
        }

        button.humbargur {
          padding: 0.4rem;
          height: 3rem;
          width: 3rem;
          min-width: 3rem;

          @media screen and (max-width:991px) {
            height: 2.6rem;
            min-width: 2.6rem;
          }
        }

        @media screen and (max-width:991px) {
          margin-left: 1.4rem;
        }
      }

      @media screen and (max-width:991px) {
        order: 2;
        max-width: 70%;
        width: 70%;
        justify-content: end;
      }
    }

    @media screen and (max-width:991px) {
      flex-wrap: wrap;
      padding: 1rem;
    }
  }
}

.header_menu {
  background-color: var(--theme_white);
  transition: 0.3s;
  padding: 0.5rem 2rem;

  .menu_title {
    width: calc(100% - 0%);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--theme_primary);
    margin-bottom: 1.5rem;
    display: none;

    .logo {
      height: 2.6rem;
      width: auto;
      max-width: 100%;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    button.close_button {
      min-width: 3.2rem;
      height: 3.2rem;
    }

    @media screen and (max-width:991px) {
      display: flex;
    }
  }

  .menu_items {
    display: flex;
    align-items: center;
    justify-content: left;

    a {
      font-size: 1.5rem;
      text-transform: capitalize;
      color: var(--theme_darkgrey);
      padding: 1rem 1.4rem;

      svg {
        margin-right: 1rem;
      }

      &.active {
        color: var(--theme_primary);
        font-weight: 600;

        @media screen and (max-width:991px) {
          background-color: rgba(76, 126, 130, 0.1);
          border-radius: 0.6rem;
        }
      }

      @media screen and (max-width:1199px) {
        font-size: 1.4rem;
      }

      @media screen and (max-width:991px) {
        display: block;
        width: 100%;
      }
    }

    @media screen and (max-width:991px) {
      display: block;
    }
  }

  @media screen and (max-width:991px) {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 999;
    max-width: 34rem;
    width: 100%;
    background-color: transparent;
    background-color: var(--theme_white);
    padding: 0;

    &.open {
      left: 0;
    }
  }
}


.user_menu {
  margin-top: 1rem;

  .MuiMenu-paper {
    width: 14rem;

    ul {
      padding: 1rem 0;

      li {
        a {
          width: 100%;
          font-size: 1.4rem;
          color: var(--theme_dark);
        }

        &:hover {
          background-color: rgba(76, 126, 130, 0.1);

          a {
            color: var(--theme_primary);
          }
        }
      }
    }
  }
}

.unlayer {
  background-color: var(--theme_dark);
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 997;
  opacity: 0.6;

  &.open {
    right: 0;
  }
}