.header {
  background-image: var(--theme_primarylinear);
  position: sticky;
  top: 0;
  z-index: 996;

  .header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;

    .header_left {
      display: flex;
      align-items: center;

      .logo {
        height: 4rem;
        max-width: 100%;
        width: auto;

        svg {
          height: 100%;
          width: 100%;
        }

        @media screen and (max-width:1399px) {
          height: 3rem;
        }

        @media screen and (max-width:991px) {
          height: 2rem;
        }
      }

      .user_location {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        cursor: pointer;

        .location {
          margin-left: 0.8rem;

          .title {
            font-size: 1.6rem;
            color: var(--theme_white);
          }

          .locate {
            font-size: 1.2rem;
            color: var(--theme_white);
            opacity: 80%;
          }

        }

        @media screen and (max-width:991px) {
          display: none;
        }
      }

      @media screen and (max-width:991px) {
        max-width: 30%;
        width: 30%;
      }
    }

    .header_center {
      width: calc(48% - 3rem);
      margin-left: 3rem;

      .search_product {
        position: relative;

        svg {
          position: absolute;
          top: 50%;
          left: 2rem;
          transform: translateY(-50%);
          z-index: 2;

          @media screen and (max-width:991px) {
            left: 1rem;
          }
        }

        input.MuiInputBase-input {
          background-color: var(--theme_white);
          border-radius: 0.4rem;
          border: none;
          outline: none;
          box-shadow: none;
          font-size: 1.8rem;
          padding: 1.4rem;
          padding-left: 5.5rem;
          height: auto;

          @media screen and (max-width:991px) {
            font-size: 1.3rem;
            padding: 1rem;
            padding-left: 4rem;
          }
        }
      }

      @media screen and (max-width:991px) {
        order: 3;
        max-width: 100%;
        width: 100%;
        margin: 1.2rem 0 0 0;
      }
    }

    .header_right {
      display: flex;
      align-items: center;

      .status_bar {
        display: flex;
        align-items: center;
        margin-left: 3rem;

        &:last-child {
          display: none;

          @media screen and (max-width:991px) {
            display: block;
          }
        }

        svg {
          height: 3.2rem;
          width: 3.2rem;
          color: var(--theme_white);

          @media screen and (max-width:991px) {
            height: 2rem;
            width: 2rem;
          }
        }

        .count {
          position: relative;

          span {
            height: 2rem;
            width: 2rem;
            background-color: var(--theme_white);
            border-radius: 50%;
            position: absolute;
            top: -0.5rem;
            right: -0.5rem;
            font-size: 1.4rem;
            color: var(--theme_primary);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;

            @media screen and (max-width:991px) {
              height: 1.8rem;
              width: 1.8rem;
            }
          }
        }

        .status_bar_name {
          margin-left: 1.2rem;

          .title {
            font-size: 1.2rem;
            color: var(--theme_white);
            opacity: 72%;
            white-space: nowrap;
          }

          .name {
            font-size: 1.2rem;
            color: var(--theme_white);
            white-space: nowrap;
          }

          @media screen and (max-width:1250px) {
            display: none;
          }
        }

        button.humbargur {
          padding: 0.4rem;
          height: 3rem;
          width: 3rem;
          min-width: 3rem;

          @media screen and (max-width:991px) {
            height: 2.6rem;
            min-width: 2.6rem;
          }
        }

        @media screen and (max-width:991px) {
          margin-left: 1.4rem;
        }
      }

      @media screen and (max-width:991px) {
        order: 2;
        max-width: 70%;
        width: 70%;
        justify-content: end;
      }
    }

    @media screen and (max-width:991px) {
      flex-wrap: wrap;
    }
  }

  .header_menu {
    padding: 1rem 0;
    background-color: var(--theme_primary);
    transition: 0.3s;

    .menu_title {
      width: calc(100% - 2rem);
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      background: var(--theme_primarylinear);
      margin: 0 1rem;
      border-radius: 0.5rem;
      margin-bottom: 1.5rem;
      display: none;

      .logo {
        height: 2.6rem;
        width: auto;
        max-width: 100%;

        svg {
          height: 100%;
          width: 100%;
        }
      }

      button.close_button {
        min-width: 3.2rem;
        height: 3.2rem;
      }

      @media screen and (max-width:991px) {
        display: flex;
      }
    }

    .menu_items {
      display: flex;
      align-items: center;
      justify-content: left;


      a {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: var(--theme_white);
        padding: 1rem 1.4rem;

        svg {
          margin-right: 1rem;
        }

        @media screen and (max-width:1199px) {
          font-size: 1.4rem;
        }

        @media screen and (max-width:991px) {
          display: block;
          width: 100%;
        }
      }

      @media screen and (max-width:991px) {
        display: block;
      }
    }

    @media screen and (max-width:991px) {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      z-index: 999;
      max-width: 38rem;
      width: 100%;
      background-color: transparent;
      background-image: var(--theme_primarylinear);

      &.open {
        left: 0;
      }
    }
  }
}

.unlayer {
  background-color: var(--theme_dark);
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 995;
  opacity: 0.4;

  &.open {
    right: 0;
  }
}