.toprated_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 4rem;

  .toprated_block {
    margin-top: 4rem;

    h4.title {
      font-size: 2.4rem;
      text-transform: uppercase;
      margin-bottom: 3rem;

      @media screen and (max-width:991px) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }

    .toprated_columan {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2.4rem;
      margin-top: 2rem;

      .toprated_col {
        border: 1px solid var(--theme_light);
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0.6rem;

        .toprated_img {
          height: 10rem;
          width: 10rem;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

        .toprated_desc {
          width: calc(90% - 10rem);
          padding-left: 2rem;

          p {
            font-size: 1.4rem;
            color: var(--theme_dark);
            margin-bottom: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            @media screen and (max-width:991px) {
              font-size: 1.4rem;
            }
          }

          h4 {
            font-size: 1.8rem;
            color: var(--theme_primary);
            font-weight: 500;

            @media screen and (max-width:991px) {
              font-size: 1.6rem;
            }
          }

          @media screen and (max-width:1199px) {
            width: calc(100% - 10rem);
          }

          @media screen and (max-width:767px) {
            width: calc(100% - 8rem);
          }
        }
      }
    }
  }

  @media screen and (max-width:991px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}