:root {
  --theme_primary: #2C494D;
  --theme_darkprimary: #4C7E82;
  --theme_blue: #7239EA;
  --theme_dark: #202020;
  --theme_grey: #929FA5;
  --theme_darkgrey: #5F6C72;
  --theme_light: #F5F5F5;
  --theme_warning: #FFD166;
  --theme_footer: #262626;
  --theme_darkfooter: #090909;
  --theme_white: #FFFFFF;
  --theme_danger: #F8285A;
  --border: #E4E7E9;
}