:root {
  --theme_primary: #0C5A8C;
  --theme_primarylinear: linear-gradient(180deg, #0F6CA7 0%, #0C5A8C 100%);
  --theme_dark: #161828;
  --theme_dark: #161828;
  --theme_grey: #929FA5;
  --theme_light: #F5F5F5;
  --theme_warning: #FFB700;
  --theme_footer: #0E364F;
  --theme_white: #FFFFFF;
}