.favourite_box {
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  margin: 5rem 0;

  h5 {
    font-size: 2.4rem;
    color: var(--theme_dark);
    padding: 2.5rem;
    font-weight: 600;

    @media screen and (max-width:991px) {
      padding: 1.2rem;
      font-size: 1.8rem;
    }
  }
}

.cart_total {
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 2.5rem;
  margin: 5rem 0 0 0;

  &:last-child {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
    color: var(--theme_dark);
  }

  .total_sum {
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.6rem;

      span {
        font-size: 1.5rem;

        &:first-child {
          color: var(--theme_grey);
          font-weight: 500;
        }

        &:last-child {
          color: var(--theme_dark);
          font-weight: 600;
        }
      }

      &:last-child {
        padding-top: 1.6rem;
        border-top: 1px solid var(--border);

        span {
          font-size: 1.6rem;
          font-weight: 600;
        }
      }
    }
  }

  .apply_coupon {

    .MuiTextField-root {
      .MuiInputBase-root {
        input.MuiInputBase-input {
          border: 1px solid var(--border);
          font-size: 1.5rem;
          color: var(--theme_dark);
          padding: 1.2rem 2rem;
          border-radius: 0.4rem;
        }
      }
    }

    button.apply_couponBtn {
      font-size: 1.5rem;
      color: var(--theme_white);
      background-color: var(--theme_blue);
      padding: 0.8rem 2rem;
      margin-top: 1rem;
    }
  }

  button.theme_btn {
    background-color: var(--theme_primary);
    font-size: 1.4rem;
    color: var(--theme_white);
    padding: 1.2rem 1.5rem;
    width: 100%;
    border-radius: 0.4rem;
    text-align: center;

    &:hover {
      background-color: var(--theme_darkprimary);
    }

    svg {
      margin-left: 0.6rem;
    }
  }

  @media screen and (max-width:767px) {
    padding: 1.4rem;
  }
}

.cart_row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;

  .cart_colLeft {
    max-width: 70%;
    width: 70%;

    @media screen and (max-width:991px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .cart_colRight {
    max-width: 30%;
    width: 30%;

    @media screen and (max-width:991px) {
      max-width: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width:991px) {
    display: block;
  }
}


.MuiTableContainer-root {
  overflow-y: hidden;

  .table {

    thead {
      tr {
        th {
          font-size: 1.6rem;
          text-transform: uppercase;
          color: var(--theme_dark);
          font-weight: 400;
          padding: 1.8rem;
          background-color: #E4E7E9;
          white-space: nowrap;

          @media screen and (max-width:991px) {
            font-size: 1.2rem;
            padding: 1.2rem;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 0 1rem;
          font-size: 1.6rem;
          text-transform: uppercase;
          color: var(--theme_dark);
          font-weight: 400;

          &:first-child {
            width: auto;
          }

          &:nth-child(2) {
            width: 15%;
          }

          &:nth-child(3) {
            width: 15%;
          }

          &:last-child {
            width: 10%;
          }

          &.removeLeft {
            display: flex;
            align-items: center;
          }

          .cart_product {
            display: flex;
            align-items: center;

            .cart_img {
              height: 8rem;
              width: 8rem;
              border-radius: 0.5rem;

              img {
                height: 100%;
                width: 100%;
                border-radius: 0.5rem;
                object-fit: contain;
              }

              @media screen and (max-width:991px) {
                height: 5rem;
                width: 5rem;
              }
            }

            p {
              font-size: 1.5rem;
              color: var(--theme_dark);
              font-weight: 400;
              max-width: 50rem;
              width: calc(100% - 8rem);
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              margin-left: 1.5rem;
              text-transform: capitalize;

              @media screen and (max-width:991px) {
                width: calc(100% - 5rem);
                font-size: 1.2rem;
              }

              @media screen and (max-width:575px) {
                width: calc(100% - 5rem);
                max-width: 10rem;
                min-width: 10rem;
                font-size: 1.2rem;
              }
            }
          }

          .price_product {
            display: flex;
            align-items: center;

            del {
              font-size: 1.5rem;
              color: var(--theme_grey);
              font-weight: 400;
              margin-right: 0.5rem;

              @media screen and (max-width:991px) {
                font-size: 1.2rem;
              }
            }

            p {
              font-size: 1.5rem;
              color: var(--theme_dark);
              font-weight: 500;
              margin-right: 0.5rem;

              @media screen and (max-width:991px) {
                font-size: 1.2rem;
              }
            }
          }

          span.badge {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 500;

            &.instock {
              color: #2DB224;
            }

            &.outstock {
              color: #EE5858;
            }

            @media screen and (max-width:991px) {
              font-size: 1.2rem;
            }

          }

          .quantity {
            position: relative;
            margin: 0;
            max-width: 18rem;

            .count {
              input.MuiInputBase-input {
                padding: 1.4rem 3rem;
                font-size: 1.6rem;
                border: 1px solid var(--border);
                border-radius: 1rem;
                text-align: center;

                @media screen and (max-width:767px) {
                  padding: 1rem 3rem;
                  font-size: 1.2rem;
                }
              }
            }

            button {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              z-index: 1;
              min-width: 3rem;
              height: 3rem;
              font-size: 2.2rem;
              border-radius: 50%;
              padding: 0.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--theme_dark);
              background-color: transparent;

              &:first-child {
                left: 0.5rem;
              }

              &:last-child {
                right: 0.5rem;
              }

              @media screen and (max-width:991px) {
                font-size: 1.8rem;
                height: 2.5rem;
                min-height: 2.5rem;
              }
            }

            @media screen and (max-width:991px) {
              min-width: 10rem;
            }
          }

          .actions {
            display: flex;
            align-items: center;

            button.btn {
              font-size: 1.5rem;
              margin: 0 0.3rem;

              &.addCart {
                background-color: var(--theme_primary);
                padding: 1rem 2rem;
                color: var(--theme_white);

                span.title {
                  font-size: 1.4rem;
                  color: var(--theme_white);
                  white-space: nowrap;
                  margin-right: 0.8rem;

                  @media screen and (max-width:991px) {
                    display: none;
                    margin-right: 0;
                  }
                }

                svg {
                  height: 2rem;
                  width: 2rem;
                }

                &:hover {
                  background-color: var(--theme_darkprimary);
                }
              }

              &.remove_addCart {
                background-color: transparent;
                color: var(--theme_grey);
                min-width: 5rem;
                width: 5rem;

                &.danger {
                  color: #EE5858;
                }
              }

              @media screen and (max-width:991px) {
                min-width: 3rem !important;
                width: 3rem !important;
                height: 3rem !important;
                padding: 0.6rem !important;

                svg {
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }

          @media screen and (max-width:991px) {
            font-size: 1.2rem;
            padding: 1rem;
          }
        }
      }
    }

    tfoot {
      td {
        border-bottom: none;

        .table_footer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .footer_btn {
            font-size: 1.4rem;
            color: var(--theme_primary);
            border: 2px solid var(--theme_primary);
            padding: 1.2rem 2rem;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 0.4rem;

            &:hover {
              background-color: var(--theme_darkprimary);
              color: var(--theme_white);
              border-color: var(--theme_darkprimary);
            }

            @media screen and (max-width:991px) {
              font-size: 1.2rem;
              padding: 1rem 1.5rem;
            }
          }
        }
      }
    }
  }
}