.MuiDrawer-modal {
  .MuiDrawer-paper {
    max-width: 34rem;
    width: 100%;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .drawer_menu {
      padding: 1rem 1.5rem;
      background-color: var(--theme_primary);
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--theme_white);
      }

      button.handle_drawer {
        min-width: 3rem;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        color: var(--theme_white);
        background-color: rgba($color: #FFFFFF, $alpha: 0.2);

        svg {
          color: var(--theme_white);
          transform: rotate(-45deg);
        }
      }
    }


    .category_accordion {
      margin-top: 2rem;
      height: 100vh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .MuiAccordion-root {
        margin-bottom: 1rem;
        box-shadow: none;
        border-bottom: 1px solid var(--border);

        &::before {
          display: none;
        }

        .MuiButtonBase-root {
          padding: 1rem 1.5rem;
          min-height: auto;

          .MuiAccordionSummary-content {
            margin: 0;

            p.MuiTypography-root {
              font-size: 1.6rem;
              color: var(--theme_dark);
              font-weight: 600;
            }
          }

          .MuiAccordionSummary-expandIconWrapper {
            height: 1.8rem;
            width: 1.8rem;
            color: var(--theme_dark);

            svg {
              height: 100%;
              width: 100%;
            }
          }
        }

        .MuiCollapse-root {
          .MuiAccordionDetails-root {
            padding: 0;

            .category_list {
              max-height: 19rem;
              overflow: hidden;
              position: relative;
              padding-bottom: 4.4rem;

              a {
                font-size: 1.4rem;
                color: var(--theme_darkgrey);
                display: block;
                width: 100%;
                padding: 1rem 2rem;
              }

              &.open {
                max-height: none;
              }
            }

            button.see_all {
              font-size: 1.4rem;
              background-color: transparent;
              color: var(--theme_primary);
              text-transform: capitalize;
              padding: 0.6rem 2rem;
              width: 100%;
              margin: 0.6rem 0;
              font-weight: 600;
              text-align: left;
              justify-content: left;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 2;
              background-color: var(--theme_white);

              svg {
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }
  }
}