@import './Zonixzvariables/Zonixzvariables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;

  * {
    font-family: 'Nexa', sans-serif !important;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.MuiOutlinedInput-notchedOutline {
  display: none;
}

.section_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 0 3rem 0 !important;

  h2 {
    font-size: 3.2rem !important;
    font-weight: 500 !important;
    color: var(--theme_dark) !important;
    display: flex;
    align-items: center;

    span {
      font-size: 1.4rem;
      margin-left: 2rem;

      &.badges_timer {
        font-size: 1.6rem;
        color: var(--theme_dark);
        padding: 1.2rem 2.6rem;
        background-color: var(--theme_warning);
        font-weight: 500;
        border-radius: 0.4rem;

      }

      @media screen and (max-width:991px) {
        display: none;
      }
    }

    @media screen and (max-width:991px) {
      font-size: 2.8rem !important;
      display: block;
    }

    @media screen and (max-width:767px) {
      font-size: 2rem !important;
    }
  }

  a {
    color: var(--theme_primary);
    text-transform: capitalize;
    display: flex;
    align-items: center;

    span {
      font-size: 1.6rem;
      font-weight: 500;
      font-size: 1.6rem;

      @media screen and (max-width:767px) {
        display: none;
      }
    }

    svg {
      margin-left: 1rem;
    }
  }
}