@import './Zonixzvariables/Zonixzvariables.scss';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: #FFFFFF;
  top: 0 !important;

  * {
    font-family: 'Public Sans', sans-serif !important;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiOutlinedInput-notchedOutline {
  display: none;
}

.MuiMenu-root {

  .MuiPaper-elevation {
    max-height: 32rem;
    overflow-y: auto;

    ul {
      li {
        font-size: 1.4rem;

        @media screen and (max-width:991px) {
          min-height: 34px;
          font-size: 1.3rem;
        }
      }
    }
  }
}

.section_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 3rem 0 !important;

  h2 {
    font-size: 3.2rem !important;
    font-weight: 500 !important;
    color: var(--theme_dark) !important;
    display: flex;
    align-items: center;

    span {
      font-size: 1.4rem;
      margin-left: 2rem;

      &.badges_timer {
        font-size: 1.6rem;
        color: var(--theme_white);
        padding: 1rem 2rem;
        background-color: var(--theme_danger);
        font-weight: 500;
        border-radius: 0.4rem;

      }

      @media screen and (max-width:991px) {
        display: none;
      }
    }

    @media screen and (max-width:991px) {
      font-size: 2.8rem !important;
      display: block;
    }

    @media screen and (max-width:767px) {
      font-size: 2rem !important;
    }
  }

  a {
    color: var(--theme_primary);
    text-transform: capitalize;
    display: flex;
    align-items: center;

    span {
      font-size: 1.6rem;
      font-weight: 500;
      font-size: 1.6rem;

      @media screen and (max-width:767px) {
        display: none;
      }
    }

    svg {
      margin-left: 1rem;
      color: var(--theme_primary);
    }
  }

  &.noSpace {
    margin: 0rem !important;
  }

  @media screen and (max-width:991px) {
    margin: 3rem 0 !important;
  }
}

// ================ Store page 
.store_box {
  display: flex;
  align-items: start;

  .fiters_box {
    max-width: 39rem;
    width: 100%;

    button.close_filter {
      height: 3.5rem;
      width: 3.5rem;
      min-width: 3.5rem;
      border-radius: 50%;
      color: var(--theme_white);
      background-color: var(--theme_primary);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0rem;
      position: absolute;
      top: 2rem;
      right: 2rem;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    @media screen and (max-width:1299px) {
      max-width: 32rem;
    }

    @media screen and (max-width:991px) {
      max-width: 100%;
      width: 100%;
      background-color: var(--theme_white);
      position: fixed;
      bottom: -100%;
      left: 0;
      z-index: 992;
      max-height: 54rem;
      overflow-y: auto;
      padding: 2rem;
      border-radius: 3rem 3rem 0 0;
      box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -20px;
      transition: 0.3s;
      border: 1px solid var(--theme_light);

      &.open {
        bottom: 0;
      }
    }
  }

  .Storeproduct_box {
    max-width: 100%;
    width: 100%;
    margin-left: 2.4rem;

    .Storeproduct_action {
      margin-bottom: 2.4rem;

      .sort_product {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search_product {
          position: relative;
          max-width: 50rem;
          width: 100%;
          display: flex;
          align-items: center;

          svg {
            position: absolute;
            top: 50%;
            right: 2rem;
            transform: translateY(-50%);
            z-index: 2;

            @media screen and (max-width:991px) {
              left: 1rem;
            }
          }

          button.filter_mobile {
            min-width: 3.6rem;
            width: 3.6rem;
            height: 3.6rem;
            padding: 0.8rem;
            background-color: var(--theme_light);
            color: var(--theme_light);
            margin-left: 0.6rem;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              height: 100%;
              width: 100%;
              position: inherit;
              left: inherit;
              right: inherit;
            }

            @media screen and (min-width:768px) {
              display: none;
            }
          }

          input.MuiInputBase-input {
            background-color: var(--theme_white);
            border-radius: 0.4rem;
            border: 1px solid #E4E7E9;
            outline: none;
            box-shadow: none;
            font-size: 1.6rem;
            padding: 1.2rem;
            padding-right: 5.5rem;
            height: auto;

            @media screen and (max-width:991px) {
              font-size: 1.3rem;
              padding: 1rem;
              padding-left: 4rem;
            }
          }

          @media screen and (max-width:767px) {
            margin-bottom: 1rem;
            max-width: 100%;
          }
        }

        .sorting_box {
          display: flex;
          align-items: center;
          justify-content: end;
          max-width: 26rem;
          width: 100%;

          .label {
            font-size: 1.4rem;
            color: var(--theme_dark);
            margin-right: 2rem;
            display: block;
            white-space: nowrap;

            @media screen and (max-width:767px) {
              margin-bottom: 0.5rem;
              display: none;
            }
          }

          .sort_select {
            .MuiSelect-nativeInput {
              height: 100%;
            }

            .MuiSelect-select {
              font-size: 1.5rem;
              padding: 0.8rem 4rem 0.8rem 1rem;
              display: flex;
              align-items: center;
              border: 1px solid #E4E7E9;
              width: 100%;
            }
          }

          @media screen and (max-width:767px) {
            margin-bottom: 1rem;
            max-width: 100%;
            display: block;
          }
        }

        @media screen and (max-width:767px) {
          display: block;
        }
      }

      .sorting_result {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.6rem;
        background-color: var(--theme_light);
        padding: 1rem 1.5rem;
        border-radius: 0.6rem;

        .fliter_tags {
          // max-width: 50rem;
          width: 100%;
          display: flex;
          align-items: start;

          h5 {
            font-size: 1.4rem;
            color: var(--theme_grey);
            margin-right: 0.5rem;
            white-space: noWrap;
          }

          .tag_bdage {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            span.tag {
              font-size: 1.4rem;
              margin-right: 1rem;
              color: var(--theme_dark);
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: space-between;

              button.remove_tag {
                padding: 0.2rem;
                height: 2.2rem;
                min-width: 2.2rem;
                width: 2.2rem;
                color: var(--theme_grey);
                font-size: 100%;
                text-transform: none;
                margin-left: 0.5rem;
              }
            }
          }
        }

        .result_box {
          display: flex;
          align-items: center;
          justify-content: end;
          width: 100%;

          h5 {
            font-size: 1.6rem;
            color: var(--theme_dark);

            @media screen and (max-width:991px) {
              font-size: 1.4rem;
            }
          }

          p {
            font-size: 1.6rem;
            color: var(--theme_darkgrey);
            margin-left: 0.5rem;

            @media screen and (max-width:991px) {
              font-size: 1.4rem;
            }
          }

          @media screen and (max-width:767px) {
            justify-content: space-between;
            margin-top: 1rem;
          }
        }

        @media screen and (max-width:767px) {
          display: block;
        }
      }
    }

    .product_listBox {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      @media screen and (max-width:1299px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
      }

      @media screen and (max-width:767px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }

    @media screen and (max-width:991px) {
      margin-left: 0;
    }
  }

  @media screen and (max-width:991px) {
    display: block;
  }
}


// =========== Product view css ==========
.product_viewBox {
  display: flex;
  align-items: start;
  flex-wrap: wrap;

  .product_images {
    max-width: 35%;
    width: 35%;
    padding-right: 2rem;

    .thumb_preview {
      border-radius: 1rem;
      max-height: 50rem;
      width: 100%;
      background-color: var(--theme_light);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 1rem;
        height: 100%;
        width: 100%;

        @media screen and (max-width:1199px) {
          max-width: 100%;
          width: auto;
          height: 100%;
        }
      }

      @media screen and (max-width:1199px) {
        min-height: 35rem;
      }

      @media screen and (max-width:991px) {
        min-height: 25rem;
      }

    }

    .thumbNails {
      margin-top: 2rem;

      .thumbs {
        height: 12rem;
        width: 12rem;
        background-color: var(--theme_light);
        border-radius: 1rem;
        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
          border-radius: 1rem;
        }

        @media screen and (max-width:1299px) {
          height: 9rem;
          width: 9rem;
        }
      }
    }

    @media screen and (max-width:1199px) {
      max-width: 100%;
      width: 100%;
      margin-bottom: 3rem;
      padding-right: 0;
    }
  }

  .product_details {
    max-width: 42%;
    width: 42%;
    padding: 0 2rem;

    h4.product_name {
      font-size: 2.8rem;
      color: var(--theme_dark);
      font-weight: 600;
      margin-bottom: 1rem;

      @media screen and (max-width:991px) {
        font-size: 2rem;
      }
    }

    p.price {
      font-size: 2.8rem;
      color: var(--theme_primary);
      font-weight: 500;

      @media screen and (max-width:991px) {
        font-size: 2rem;
      }
    }

    h5.desc_title {
      font-size: 2.4rem;
      color: var(--theme_dark);
      margin: 2rem 0 1rem 0;
      font-weight: 500;

      @media screen and (max-width:991px) {
        font-size: 1.8rem;
      }
    }

    ul.desc_list {
      padding: 0;

      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.5rem;
        padding: 0;

        &.listed {
          color: var(--theme_grey);
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
          position: relative;
          padding-left: 1.8rem;

          &:after {
            content: '';
            height: 0.6rem;
            width: 0.6rem;
            border-radius: 50%;
            background-color: var(--theme_grey);
            position: absolute;
            left: 0;
            top: 0.7rem;
          }

          @media screen and (max-width:991px) {
            font-size: 1.4rem;
          }
        }

        p {
          font-size: 1.6rem;
          text-transform: capitalize;

          &:first-child {
            color: var(--theme_grey);
            padding-right: 1rem;
          }

          &:last-child {
            color: var(--theme_dark);
          }

          @media screen and (max-width:991px) {
            font-size: 1.4rem;
          }
        }
      }
    }

    @media screen and (max-width:1199px) {
      max-width: 65%;
      width: 65%;
    }

    @media screen and (max-width:991px) {
      max-width: 100%;
      width: 100%;
      margin-bottom: 2rem;
      padding: 0;
    }
  }

  .order_manage {
    max-width: 23%;
    width: 23%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    border-radius: 1rem;

    .set_order {
      background-color: var(--theme_white);
      border-radius: 1rem;
      width: 100%;

      .offerBox {
        background-color: var(--theme_primary);
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h6 {
          font-size: 2.4rem;
          color: var(--theme_white);

          span {
            font-size: 1.4rem;
            color: var(--theme_white);
            opacity: 56%;
            display: block;
            width: 100%;
          }
        }

        @media screen and (max-width:1299px) {
          padding: 1rem;
          display: block;
          text-align: center;
        }
      }

      .closeOffer {
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: 0.8rem;
        background-color: var(--theme_white);
        opacity: 56%;
        color: var(--theme_darkgrey);
        text-align: center;
      }
    }

    .product_stock {
      padding: 0 2rem 2rem 2rem;

      h6.title {
        font-size: 2rem;
        color: var(--theme_dark);
        font-weight: 600;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba($color: #333333, $alpha: 0.1);
      }

      .selected_price {
        display: flex;
        align-items: center;

        .selected_product {
          height: 10rem;
          width: 10rem;
          border-radius: 1rem;
          padding: 1rem;
          background-color: var(--theme_light);
          margin-right: 1.5rem;

          img {
            height: 100%;
            width: 100%;
          }

          @media screen and (max-width:1299px) {
            height: 7rem;
            width: 7rem;
          }
        }

        .product_size {
          p {
            font-size: 1.6rem;
            color: var(--theme_grey);
            margin-bottom: 0;
          }

          h6 {
            font-size: 2.2rem;
            color: var(--theme_dark);
            font-weight: 500;

            @media screen and (max-width:1299px) {
              font-size: 1.8rem;
            }
          }
        }
      }

      .product_howMany {
        position: relative;
        margin: 2rem 0;

        .count {
          input.MuiInputBase-input {
            padding: 1rem 4rem;
            font-size: 1.6rem;
            border: 1px solid var(--theme_grey);
            border-radius: 1rem;
            text-align: center;
          }
        }

        button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          min-width: 3.4rem;
          height: 3.4rem;
          font-size: 2.2rem;
          border-radius: 50%;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--theme_dark);
          background-color: var(--theme_light);

          &:hover {
            background-color: var(--theme_grey);
          }

          &:first-child {
            left: 1rem;
          }

          &:last-child {
            right: 1rem;
          }
        }
      }

      .total_price {
        padding: 0;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            max-width: 50%;

            &:first-child {
              font-size: 1.6rem;
              color: var(--theme_grey);
            }

            &:last-child {
              font-size: 2rem;
              color: var(--theme_dark);
              font-weight: 600;
            }
          }
        }
      }


      button.addToCart {
        font-size: 1.6rem;
        color: var(--theme_white);
        background-color: var(--theme_primary);
        padding: 1.2rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        border-radius: 1rem;
        transition: 0.3s;

        &:hover {
          background-image: var(--theme_primarylinear);
        }
      }

      a.butNow {
        font-size: 1.6rem;
        color: var(--theme_primary);
        border: 1px solid var(--theme_primary);
        padding: 1.2rem;
        margin-bottom: 1.2rem;
        border-radius: 1rem;
        display: block;
        text-align: center;

        &:hover {
          background-color: var(--theme_primary);
          color: var(--theme_white);
        }
      }

      .addWachlist {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        margin-top: 1rem;
        padding-top: 1rem;

        button {
          font-size: 1.4rem;
          color: var(--theme_primary);
          background-color: transparent;

          svg {
            height: 2.4rem;
            width: 2.4rem;
            margin-right: 0.6rem;
          }
        }
      }
    }

    @media screen and (max-width:1199px) {
      max-width: 35%;
      width: 35%;
    }

    @media screen and (max-width:991px) {
      max-width: 100%;
      width: 100%;
    }
  }
}

.product_info {
  margin-top: 4rem;

  h4 {
    font-size: 2.4rem;
    color: var(--theme_primary);
    margin-bottom: 2rem;
    font-weight: 600;

    @media screen and (max-width:991px) {
      font-size: 2rem;
    }
  }

  .techAdd_infoBox {
    display: flex;
    align-items: center;

    .techAdd_info {
      max-width: 50%;
      width: 50%;
      padding: 0 1rem;

      h6 {
        font-size: 2rem;
        color: var(--theme_dark);
        font-weight: 500;
        margin-bottom: 1rem;

        @media screen and (max-width:991px) {
          font-size: 1.8rem;
        }
      }

      .productInfo_table {
        margin: 0;

        tr {
          td {
            padding: 1.2rem;
            font-size: 1.6rem;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

            &:first-child {
              background-color: var(--theme_light);
              color: var(--theme_grey);
              width: 50%;
            }

            &:last-child {
              width: 50%;
              color: var(--theme_dark);
            }

            @media screen and (max-width:991px) {
              font-size: 1.4rem;
              padding: 0.8rem;
            }
          }
        }
      }

      @media screen and (max-width:991px) {
        max-width: 100%;
        width: 100%;
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width:991px) {
      display: block;
    }
  }
}

.product_description {
  margin-top: 5rem;

  h5 {
    font-size: 1.8rem;
    color: var(--theme_dark);
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    color: var(--theme_grey);
  }
}

.customreReview_box {
  margin-top: 5rem;

  h5 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--theme_dark);
    margin-bottom: 1.5rem;

    @media screen and (max-width:767px) {
      font-size: 2rem;
    }
  }

  .review_row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .review_col {
      padding: 0 3rem;

      h6 {
        font-size: 3.2rem;
        color: var(--theme_dark);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: 600;

        sub {
          font-size: 1.6rem;
          color: var(--theme_grey);
          font-weight: 400;

          @media screen and (max-width:767px) {
            font-size: 1.4rem;
          }
        }

        @media screen and (max-width:767px) {
          font-size: 2.4rem;
        }
      }

      .rating_star {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.8rem 0;

        svg {
          margin: 0 0.4rem;
        }
      }

      p {
        font-size: 2.2rem;
        color: var(--theme_darkgrey);
        font-weight: 500;
        text-align: center;

        @media screen and (max-width:767px) {
          font-size: 1.4rem;
        }
      }

      .rating_starProgress {
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;

        span {
          font-size: 1.8rem;
          color: var(--theme_darkgrey);
          font-weight: 500;
          display: inline-block;
          margin: 0 0.5rem;

          @media screen and (max-width:767px) {
            font-size: 1.4rem;
          }
        }

        .progress_box {
          position: relative;
          background-color: var(--theme_light);
          height: 1rem;
          max-width: 22rem;
          min-width: 22rem;
          border-radius: 1rem;
          margin-left: 1rem;

          .progress_count {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 50%;
            background-color: var(--theme_primary);
            height: 1rem;
            max-width: 22rem;
            border-radius: 1rem;
            margin-left: 1rem;
            z-index: 2;
          }

          @media screen and (max-width:767px) {
            max-width: calc(100% - 10rem);
            min-width: calc(100% - 10rem);
          }
        }

        p {
          font-size: 1.8rem;
          color: var(--theme_dark);
          font-weight: 500;
          margin-left: 1rem;

          @media screen and (max-width:767px) {
            font-size: 1.4rem;
          }
        }
      }

      @media screen and (max-width:991px) {
        max-width: 50%;
        width: 50%;
      }

      @media screen and (max-width:767px) {
        max-width: 100%;
        width: 100%;
        margin-bottom: 1.6rem;
        padding: 1rem;
      }
    }
  }
}

.writeReview_box {
  margin-top: 5rem;

  h5 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--theme_dark);
    margin-bottom: 1.5rem;

    @media screen and (max-width:767px) {
      font-size: 2rem;
    }
  }

  .write_review {
    max-width: 50%;
    width: 50%;

    .write_reviewItems {
      width: 100%;
      margin-bottom: 2.8rem;

      label.label {
        font-size: 1.8rem;
        color: var(--theme_dark);
        display: block;
        margin-bottom: 1rem;
        font-weight: 500;

        &.required {
          position: relative;

          &:after {
            content: '*';
            position: absolute;
            top: 0;
            left: auto;
            color: #FF3434;
            font-size: 1.4rem;
          }
        }
      }

      .MuiTextField-root {

        .MuiInputBase-root {
          padding: 0 !important;

          .MuiInputBase-input {
            background-color: var(--theme_white);
            font-size: 1.6rem;
            padding: 1rem 1.6rem;
            border: 1px solid rgba(25, 28, 31, 24%);
            border-radius: 0.4rem;
          }
        }
      }

      button.submit_btn {
        font-size: 1.8rem;
        padding: 1.2rem 2.5rem;
        color: var(--theme_white);
        background-color: var(--theme_primary);
        text-transform: capitalize;

        &:hover {
          background-image: var(--theme_primarylinear);
        }

        @media screen and (max-width:767px) {
          font-size: 1.3rem;
          padding: 0.8rem 1.2rem;
        }
      }
    }

    @media screen and (max-width:767px) {
      max-width: 100%;
      width: 100%;
    }
  }
}

// ================= Faq
.faq_container {
  max-width: 1320px;
  margin: 4rem auto;

  .faq_row {
    display: flex;
    align-items: start;
    justify-content: space-between;

    .faq_left {
      max-width: 55%;
      width: 55%;
      padding: 1.5rem;

      .faq_accordion {
        margin-top: 3rem;

        .MuiAccordion-root {
          margin-bottom: 2rem;
          box-shadow: none;
          border: 1px solid var(--border);

          &::before {
            display: none;
          }

          .MuiButtonBase-root {
            padding: 1.5rem 2rem;
            min-height: auto;

            .MuiAccordionSummary-content {
              margin: 0;

              p.MuiTypography-root {
                font-size: 1.8rem;
                color: var(--theme_dark);

                @media screen and (max-width:991px) {
                  font-size: 1.6rem;
                }

                @media screen and (max-width:575px) {
                  font-size: 1.4rem;
                }
              }
            }

            @media screen and (max-width:991px) {
              padding: 1.5rem 1.5rem;
            }

            @media screen and (max-width:575px) {
              padding: 1rem 1.5rem;
            }
          }

          .MuiCollapse-root {
            .MuiAccordionDetails-root {
              padding: 1.6rem;
              font-size: 1.4rem;
              color: var(--theme_darkgrey);

              p {
                font-size: 1.4rem;
              }

              ul {
                margin: 0;
                padding: 0;
                margin-top: 1.5rem;
                padding-left: 1.5rem;

                li {
                  margin: 0;
                  font-size: 1.4rem;
                  color: var(--theme_darkgrey);
                  position: relative;

                  &::after {
                    content: '';
                    height: 0.6rem;
                    width: 0.6rem;
                    background-color: var(--theme_darkgrey);
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 1.4rem;
                  }
                }
              }
            }
          }

          &.Mui-expanded {
            box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);

            .MuiButtonBase-root {
              background-color: var(--theme_primary);

              .MuiAccordionSummary-content {
                margin: 0;

                p.MuiTypography-root {
                  color: var(--theme_white);
                }

                ul {
                  list-style-type: circle;

                  li {
                    list-style: circle;
                  }
                }
              }

              div.Mui-expanded {
                svg {
                  color: var(--theme_white);
                }
              }
            }
          }
        }
      }

      @media screen and (max-width:1199px) {
        max-width: 60%;
        width: 60%;
      }

      @media screen and (max-width:991px) {
        max-width: 100%;
        width: 100%;
      }
    }

    .faq_right {
      max-width: 30%;
      width: 30%;
      padding: 1.5rem;

      .ask_more_question {
        background-color: rgba($color: #2C494D, $alpha: 10%);
        padding: 2.4rem;

        h3 {
          font-size: 1.6rem;
          color: var(--theme_dark);
          font-weight: 600;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.3rem;
          color: var(--theme_darkgrey);
        }

        .ask_questionInput {
          margin-top: 1.4rem;

          .MuiInputBase-root {
            padding: 0;

            input.MuiInputBase-input,
            textarea.MuiInputBase-input {
              font-size: 1.4rem;
              padding: 1rem 1.5rem;
              border: 1px solid #E4E6E9;
              background-color: var(--theme_white);
            }
          }

          button.sign_form_button {
            background-color: var(--theme_primary);
            font-size: 1.4rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--theme_white);
            padding: 1rem 2rem;

            svg {
              margin-left: 0.5rem;
            }
          }
        }
      }

      @media screen and (max-width:1199px) {
        max-width: 40%;
        width: 40%;
      }

      @media screen and (max-width:991px) {
        max-width: 70%;
        width: 70%;
      }

      @media screen and (max-width:767px) {
        max-width: 100%;
        width: 100%;
      }
    }

    @media screen and (max-width:1199px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media screen and (max-width:767px) {
    margin: 2rem auto;
  }
}

// ================= About
.about_container {
  max-width: 1320px;
  margin: 4rem auto;

  .about_row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about_left {
      max-width: 40%;
      width: 40%;
      padding: 1rem;

      h3 {
        font-size: 3.2rem;
        color: var(--theme_dark);
        font-weight: 600;
        margin-bottom: 2.2rem;


        @media screen and (max-width:991px) {
          font-size: 2.8rem;
        }

        @media screen and (max-width:575px) {
          font-size: 1.8rem;
          margin-bottom: 1.8rem;
        }
      }

      p {
        font-size: 1.4rem;
        color: var(--theme_darkgrey);
        margin-bottom: 1.8rem;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          font-size: 1.4rem;
          color: var(--theme_dark);
          position: relative;
          padding-left: 2.2rem;

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -0.6rem;
            transform: translateY(-50%);
            background-image: url('./images/double-check.png');
            height: 2.2rem;
            width: 2.2rem;
          }
        }
      }

      @media screen and (max-width:991px) {
        max-width: 100%;
        width: 100%;
        order: 2;
      }
    }

    .about_right {
      max-width: 45%;
      width: 45%;
      padding: 1rem;

      img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
      }

      @media screen and (max-width:991px) {
        max-width: 100%;
        width: 100%;
        order: 1;
      }
    }

    @media screen and (max-width:991px) {
      flex-wrap: wrap;
    }
  }


  @media screen and (max-width:767px) {
    margin: 2rem auto;
  }
}

// ================= Customer Support
.cs_container {
  max-width: 1320px;
  margin: 4rem auto;
  padding: 0 1rem;
  // border-bottom: 1px solid var(--border);
  // padding-bottom: 4rem;

  .help_center_row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .help_center_left {
      max-width: 70%;
      width: 70%;

      p {
        font-size: 1.3rem;
        color: var(--theme_dark);
        background-color: var(--theme_warning);
        padding: 1.2rem 1.5rem;
        display: inline-block;
        text-transform: uppercase;
      }

      h3 {
        font-size: 3.2rem;
        color: var(--theme_dark);
        margin-bottom: 1.8rem;
        margin-top: 1rem;
        font-weight: 600;

        @media screen and (max-width:991px) {
          font-size: 2.4rem;
        }

        @media screen and (max-width:575px) {
          font-size: 1.8rem;
        }
      }

      .newsletter_box {
        width: auto;
        position: relative;
        border: 1px solid var(--border);
        max-width: 50rem;

        input {
          background-color: var(--theme_white);
          padding: 1.5rem;
          padding-left: 4rem;
          font-size: 1.6rem;
          border-radius: 0.5rem;
          width: 100%;
        }

        .search_icon {
          height: 2.2rem;
          width: 2.2rem;
          position: absolute;
          top: 50%;
          left: 0.8rem;
          transform: translateY(-50%);
          z-index: 2;

          svg {
            color: var(--theme_primary);
          }
        }

        button.newsletter {
          background: var(--theme_primary);
          font-size: 1.6rem;
          padding: 0.8rem 2rem;
          color: var(--theme_white);
          font-weight: normal;
          text-transform: capitalize;
          position: absolute;
          top: 50%;
          right: 0.5rem;
          transform: translateY(-50%);


          &:hover {
            background-color: var(--theme_darkprimary);
          }
        }
      }

      @media screen and (max-width:991px) {
        max-width: 100%;
        width: 100%;
        order: 2;
      }
    }

    .help_center_right {
      max-width: 30%;
      width: 30%;
      padding: 1rem;

      img {
        height: 100%;
        width: 100%;
      }

      @media screen and (max-width:991px) {
        max-width: 100%;
        width: 100%;
        order: 1;
      }
    }

    @media screen and (max-width:991px) {
      flex-wrap: wrap;
    }
  }

  .assist_box {
    margin-top: 4rem;

    h2 {
      font-size: 3.2rem;
      font-weight: 600;
      color: var(--theme_dark);
      text-align: center;
      margin-bottom: 2rem;

      @media screen and (max-width:991px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width:575px) {
        font-size: 1.8rem;
      }
    }

    .assist_list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.4rem;

      .assist_listItem {
        display: flex;
        align-items: center;
        border: 1px solid var(--border);
        padding: 1.5rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &.active,
        &:hover {
          border-color: var(--theme_primary);
          background-color: #F2F4F5;
        }

        .icon {
          height: 2.6rem;
          width: 2.6rem;

          svg {
            height: 100%;
            width: auto;
            color: var(--theme_primary);
          }

          @media screen and (max-width:575px) {
            height: 2rem;
            width: 2rem;
          }
        }

        span {
          width: calc(100% - 2.6rem);
          font-size: 1.4rem;
          padding-left: 1.6rem;
          font-weight: 500;
          color: var(--theme_darkgrey);

          @media screen and (max-width:575px) {
            font-size: 1.2rem;
          }
        }

        @media screen and (max-width:575px) {
          padding: 1rem;
        }
      }

      @media screen and (max-width:767px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width:575px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .topics_box {
    margin-top: 4rem;

    h2 {
      font-size: 2.4rem;
      color: var(--theme_dark);
      font-weight: 600;
      margin-bottom: 1.8rem;
      text-align: center;

      @media screen and (max-width:991px) {
        font-size: 1.8rem;
      }
    }


    ul {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      li {
        position: relative;
        font-size: 1.4rem;
        color: var(--theme_darkgrey);
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: 0.5rem;
          width: 0.5rem;
          background-color: var(--theme_dark);
          border-radius: 50%;
        }

        &.active,
        &:hover {
          color: var(--theme_primary);
        }
      }

      @media screen and (max-width:767px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width:575px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

// ============= contact us
.contact_us {
  background-color: #F2F4F5;
  padding: 4rem 0;

  .contact_us_container {
    max-width: 1320px;
    margin: 0 auto;

    .contact_usBox {
      text-align: center;

      p {
        font-size: 1.4rem;
        text-transform: uppercase;
        background-color: var(--theme_primary);
        padding: 0.8rem 1.4rem;
        color: var(--theme_white);
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 1.6rem;
      }

      h2 {
        font-size: 3.2rem;
        color: var(--theme_dark);
        font-weight: 600;

        @media screen and (max-width:991px) {
          font-size: 2.4rem;
        }

        @media screen and (max-width:575px) {
          font-size: 1.8rem;
        }
      }
    }


    .contact_us_row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.4rem;
      margin-top: 3rem;
      padding: 0 1rem;

      .contact_us_cols {
        background-color: var(--theme_white);
        box-shadow: 0px 24px 32px 0px rgba(25, 28, 31, 0.08);
        padding: 3.2rem;
        display: flex;
        align-items: start;

        .icon {
          height: 9rem;
          width: 9rem;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            height: 4.8rem;
            width: 4.8rem;

            @media screen and (max-width:991px) {
              height: 3rem;
              width: 3rem;
            }

            @media screen and (max-width:575px) {
              height: 2.4rem;
              width: 2.4rem;
            }
          }

          &.primary {
            background-color: rgba(76, 126, 130, 0.1);

            svg {
              color: var(--theme_primary);
            }
          }

          &.success {
            background-color: rgba(140, 179, 105, 0.1);

            svg {
              color: #8CB369;
            }
          }

          @media screen and (max-width:991px) {
            height: 6rem;
            width: 6rem;
          }

          @media screen and (max-width:575px) {
            height: 4rem;
            width: 4rem;
          }
        }


        .details {
          width: calc(100% - 9rem);
          padding-left: 2.4rem;

          h6 {
            font-size: 1.8rem;
            color: var(--theme_dark);
            margin-bottom: 0.8rem;
            font-weight: 600;

            @media screen and (max-width:575px) {
              font-size: 1.6rem;
            }
          }

          p {
            font-size: 1.4rem;
            color: var(--theme_darkgrey);
            margin-bottom: 1.4rem;
          }

          h4 {
            font-size: 2rem;
            color: var(--theme_dark);

            @media screen and (max-width:575px) {
              font-size: 1.8rem;
            }
          }

          a {
            padding: 1.2rem 2rem;
            color: var(--theme_white);
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;
            font-size: 1.4rem;
            margin-top: 1.4rem;

            &.primary {
              background-color: var(--theme_primary);
            }

            &.success {
              background-color: #8CB369;
            }

            svg {
              color: var(--theme_white);
              margin-left: 1rem;
            }

            @media screen and (max-width:575px) {
              padding: 1rem 1.6rem;
              font-size: 1.2rem;
            }
          }

          @media screen and (max-width:991px) {
            width: calc(100% - 6rem);
          }

          @media screen and (max-width:575px) {
            width: calc(100% - 4rem);
          }
        }

        @media screen and (max-width:575px) {
          padding: 1.6rem;
        }
      }

      @media screen and (max-width:991px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}


.condition_box {
  background-color: var(--theme_white);
  padding: 4rem 0;

  h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--theme_dark);
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (max-width:991px) {
      font-size: 2rem;
    }

    @media screen and (max-width:767px) {
      font-size: 1.8rem;
    }
  }

  ul {
    padding: 0;
    margin: 0;


    li {
      font-size: 1.4rem;
      color: var(--theme_darkgrey);
      margin-bottom: 1.5rem;

      @media screen and (max-width:767px) {
        font-size: 1.3rem;
      }
    }
  }
}

#google_translate_element {
  max-width: 12rem;
  width: 12rem;
  height: 4.3rem;

  .goog-te-gadget {
    height: 100%;
  }

  div.goog-te-gadget {
    .goog-te-gadget-simple {
      height: 100%;
      width: 100%;
      padding: 1.2rem 0.8rem;
      border-radius: 0 0.5rem 0.5rem 0;
      display: flex;
      align-items: center;
      border: none;
      border-left: 1px solid var(--border);

      span {
        width: 100%;
        height: 100%;

        a {
          display: flex;
          align-items: center;
          overflow: hidden;
          width: calc(100% - 12px);

          span {
            display: none;
            width: auto;

            &:first-child {
              font-size: 1.4rem;
              color: var(--theme_dark);
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              width: 100%;

              @media screen and (max-width:991px) {
                font-size: 1.2rem;
              }
            }
          }

          @media screen and (max-width:991px) {
            width: calc(100% - 6px);
          }
        }

        // @media screen and (max-width:991px) {
        //   padding: 0.8rem;
        // }
      }
    }
  }

  @media screen and (max-width:991px) {
    height: 3.5rem;
  }
}

iframe.skiptranslate {
  top: -100%;
}